@import "~bootstrap/scss/bootstrap";

.html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (max-width: 1024px) {

    body #navbarSupportedContent {
        margin-left: 5vw;
    }

    body #def-img {
        height: 40vh;
        justify-content: center;
    }

    body .content {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 5vh;
    }

    body #header-main {
        font-size: 2rem;

    }

    body #header-sub {
        font-size: 1rem;
    }

    body .benefits,
    .disadvantages {
        margin-left: 5vw;
        padding-top: 6vh;
        padding-bottom: 6vh;
        font-size: 18px;
    }
    body img{
        width: 90vw;
    }
    body #solutiontv-img{
        margin-left: 5vw;
        margin-right: 5vw
    }
    body #solution-img{
        margin-left: 5vw;
        margin-right: 5vw;
    }



}

.content {
    display: flex;
    padding-bottom: 10vh;
}


.img-list {
    display: flex;
    border-radius: 22px;
    height: 35vh;
    margin-left: 5vw;
    margin-right: 5vw;
    width: 40vw;
    background: linear-gradient(90deg, rgb(14, 220, 239), rgb(0, 30, 255));
    box-shadow: 0 0 100px teal;
    transition: 0.25s ease;
    

}
.img-list:hover{
    transition: 0.25s ease;
    transform: scale(110%);
    padding: 5px;
}



#def-img,
#tv-img {
    display: flex;
    border-radius: 22px;
    height: 50vh;
    margin-left: 5vw;
    margin-right: 5vw;
    background: linear-gradient(90deg, rgb(14, 220, 239), rgb(0, 30, 255));
    box-shadow: 0 0 100px teal;
    transition: 0.25s ease;
}
#def-img:hover,
#tv-img:hover{
    transition: 0.25s ease;
    transform: scale(110%);
    padding: 5px;
}
#solution-img{
    display: flex;
    border-radius: 22px;
    height: 55vh;
    margin-top: 5vh;
    margin-left: 10vw;
    margin-right: 5vw;
    background: linear-gradient(90deg, rgb(14, 220, 239), rgb(0, 30, 255));
    box-shadow: 0 0 100px teal;
    transition: 0.25s ease;
}
#solutiontv-img{
    display: flex;
    border-radius: 22px;
    height: 55vh;
    margin-top: 8vh;
    margin-left: 10vw;
    margin-right: 5vw;
    background: linear-gradient(90deg, rgb(14, 220, 239), rgb(0, 30, 255));
    box-shadow: 0 0 100px teal;
    transition: 0.25s ease;
}
#solutiontv-img:hover{
    transition: 0.25s ease;
    transform: scale(110%);
    padding: 5px;
}
#solution-img:hover{
    transition: 0.25s ease;
    transform: scale(110%);
    padding: 5px;
}

.def-desc,
#tv-desc {
    flex-wrap: wrap;
    display: flex;
    font-size: 22px;
    margin-left: 5vw;
    margin-right: 5vw;
    border-width: 3px;
    border-color: red;
    margin-top: 5vh;
}

.benefits {
    margin-right: 10vw;
    padding-bottom: 2.5vh;
    font-size: 18px;
}

.info-desc {
    font-size: 23px;
    padding: 0 10vw 10vh 10vw
}
.social-list{
    font-size: 18px;
}


.disadvantages {
    margin-right: 5vw;
    padding-bottom: 2.5vh;
    font-size: 18px;
}

.solutions {
    justify-content: center;
    display: inline-block;
    text-align: left;
    align-items: center;
    border-radius: 22px;
    padding-top: 2vh;
    margin-left: 5vw;
    font-size: 24px;

}

.solutions-list,
.resources-list {
    text-align: center;
}

.header-title {
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    font-size: 3rem;
}

#icon {
    margin-left: 5vw;
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    font-weight: bold;
}

#navbarSupportedContent {
    margin-left: 15vw;
}

#navbar-list {
    gap: 2vw;
}


.header,
.subheader {
    padding: 5vh;
}

#image-list {
    margin-left: -2vw;
}


.source-list {
    padding-top: 5vh;
    text-align: center;
    font-size: 30px;
}

#link {
    list-style-type: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: inline-block;
    text-align: left;
}

#header-main {
    font-size: 3rem;
    z-index: 20;
    position: absolute;
    bottom: 60%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

#header-sub {
    font-size: 2rem;
    z-index: 20;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 52%;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

.flex-list {
    color: white;

}

.carousel {
    padding-top: -20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-inner {
    width: 100%;
    height: 100%;
    height: 95vh;
    object-fit: cover;
}

.carousel-img {
    width: 100%;
    height: 100%;
}

.carousel-item {
    width: 100%;
    height: 100%;
    filter: brightness(50%);
}



.btn {
    z-index: 20;
    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 2px;
    border-radius: 1rem;
    text-decoration: none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
}




@keyframes fadeInUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.fadeInUp {
    animation: 0.5s fadeInUp ease;
}

@keyframes fadeInDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.fadeInDown {
    animation: 0.3s fadeInDown;
}